# WQChartPy
Paquete de Python para hacer algunos gráficos hidroquímicos de aguas subterráneas

In [1]:
import pandas as pd

from gw_chem_plot import graph_parameters_get, GWChemPlot
from ions import Ions

## Fichero de datos.
El fichero de datos contiene los datos de los análisis de agua y los parámetros que controlan su representación en el gráfico.
### Formato del fichero
Se pueden utilizar varios formatos; por simplificar aquí se utilizan CSV o Excel xlsx. Los ficheros xlsx, aunque son un formato propietario, pueden ser creados y manipulados con programas libres, como por ejemplo LibreOffice Cal
### Nombres válidos de las columnas
En el fichero de datos la primera fila contiene siempre un nombre que designa el contenido de la columna.
Las columnas pueden hacer referencia a contenidos obligatorios u opcionales.
Los contenidos obligatorios son:
1. El nombre de los iones a representar.
2. El nombre de los parámetros que determinan el aspecto de la representación del análisis en el gráfico.

#### Nombres de los iones
Los datos de los iones deben estar presentes, salvo en caso del nitrato que es opcional. Los nombres de la cabecera de cada ión son los siguientes:

In [12]:
ions = Ions()
print('Nombres válidos de las columnas para los iones')
ions.ions_names_get()

Nombres válidos de las columnas para los iones

['Cl', 'SO4', 'CO3', 'HCO3', 'NO3', 'Ca', 'Mg', 'K', 'Na']

#### Nombres de parámetros que determinan el aspecto de los análisis en los gráficos (por ejemplo Piper)

In [13]:
graph_parameters_get()

{'Sample': 'Identificador del análisis',
 'Label': 'Identificador del análisis en el diagrama (gráfico)',
 'Color': 'Color de Label',
 'Marker': 'Marcador (símbolo) de Label',
 'Size': 'Tamaño en dpi del marcador',
 'Alpha': 'Transparencia del marcador (superposiciones en el gráfico)'}

### Disposición de los contenidos en el fichero de datos
Hay dos tipos de contenidos: numéricos y alfanuméricos. 

1. Todos los iones analizados tienen valores numéricos y todos deben tener un valor; si un análisis no tiene un valor de un ion, ese análisis no se considera para hacer los gráficos.
2. El resto de columnas obligatorias tienen los nombres de los parámetros y también tienen que tener un contenido

Además de las columnas obligatorias se pueden incluir otras columnas opcionales, numéricas o alfanuméricas

1. Las columnas opcionales alfanuméricas pueden tener valores en blanco
2. Sin embargo, si se añade una columna opcional numérica, por ejemplo la conductividad del agua, y faltan los valores en algunas celdas, no se tendrán en cuenta los análisis (filas del fichero) correspondientes a esos valores en blanco. Si quieres incluir una columna numérica opcional sin perder la representación del análisis, márcalo con un valor numérico negativo, por ejemplo -1. El nombre de la columna opcional es libre.  

A continuación se va a leer un fichero de datos de ejemplo utilizando la función read_excel y los datos se almacenan en la variable 'data'. La ruta y e nombre del fichero de datos se asocia a la variable fdata y se escribe a la izquiera del signo '=' entre ' '. Si la lectura del fichero se realiza correctamente aparecera a continuación algunas filas de su contenido

In [9]:
# Lectura del fichero de datos (fichero Excel) y visualización 
fdata = './data/data_template.xlsx'
data = pd.read_excel(fdata)
data

,Punto muestreo,Fecha muestreo,Sample,Label,Color,Marker,Size,Alpha,pH,Ca,Mg,Na,K,HCO3,CO3,Cl,SO4,TDS
0,PM1,15/01/2023,PM1-15/01/2023,C1,red,o,30.0,0.6,7.8,32.0,6.0,28.0,2.8,73.0,0.0,43.0,48.0,233.0
1,PM1,26/01/2023,PM1-26/01/2023,C1,red,o,30.0,0.6,7.1,134.0,21.0,39.0,6.4,275.0,0.0,96.0,100.0,673.0
2,PM2,15/01/2023,PM2-15/01/2023,C2,green,o,30.0,0.6,7.6,46.0,11.0,17.0,0.7,201.0,0.0,14.0,9.0,299.0
3,PM2,26/01/2023,PM2-26/01/2023,C2,green,o,30.0,0.6,7.5,54.0,11.0,16.0,2.4,207.0,0.0,18.0,10.0,377.0
4,PM3,15/01/2023,PM3-15/01/2023,C3,blue,o,30.0,0.6,7.7,50.0,11.0,25.0,2.8,244.0,0.0,18.0,9.0,360.0
5,PM3,26/01/2023,PM3-26/01/2023,C3,blue,o,30.0,0.6,7.4,50.0,22.0,25.0,0.5,305.0,0.0,11.0,9.0,424.0
6,PM4,15/01/2023,PM4-15/01/2023,C4,yelow,o,30.0,0.6,7.4,50.0,22.0,25.0,NaN,305.0,0.0,11.0,9.0,424.0
7,PM4,26/01/2023,PM4-26/01/2023,C4,yelow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,PM5,15/01/2023,PM5-15/01/2023,C1,magenta,o,30.0,0.6,7.8,32.0,6.0,28.0,2.8,150.0,0.0,43.0,48.0,233.0
9,PM5,26/01/2023,PM5-26/01/2023,C1,magenta,o,30.0,0.6,7.1,250.0,21.0,39.0,6.4,275.0,0.0,180.0,12.0,673.0

El fichero que se acaba de leer es un fichero Excel xlsx de una sola hoja o con más de una hoja si los datos están en la primera. Si el fichero xlsx tiene más de una hoja y los datos están en una hoja diferente a la primera, debe indicarse la hoja que queremos leer. Esto se hace utilizando un argumento más en la función read_excel llamado 'sheet_name'.<br>
:

In [8]:
df = pd.read_excel(fdata, sheet_name=0)

1. Las columnas 'Punto de muestreo' y 'Fecha de muestreo' son alfanuméricas opcionales; uniendo los contenidos de las dos columnas se obtiene la columna obligatoria 'Sample'
1. Las columnas pH y TDS (TSD) son opcionales; no intervienen en los gráficos
1. La columna de la izquierda (sin nombre) representa el número de análisis (fila de datos) según el orden en el fichero de datos y es asignado automáticamente
La fila 7 tiene varias celdas sin dato (en blanco en el fichero original); la ausencia de valor es sustituida atomáticamente por la representación NaN (Not a Number). Esta fila no será considerada, como veremos más adelante).

Cuando el número de filas (análisis de agua) es alto, es ser más fácil inspeccionar los tipos de las columnas y las celdas sin valor con la siguiente instrucción.<br>
1. Para cada columna nos indica el número de valores no nulos y nulos
2. A continuación nos dice el tipo: Hay dos clases de tipos (deducidos por el contenido de la columna):
    1. object. Valores alfanuméricos.
    2. float64. Valores numéricos.
3. Si alguna columna de un ion que interviene en los gráficos es de tipo 'object', quiere decir que tenemos alguna celda con un contenido texto y entonces la columna entera es leida como tipo 'object', por lo que hay que arreglarla en el fichero de datos y empezar otra vez por el principio.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Punto muestreo  10 non-null     object
 1   Fecha muestreo  10 non-null     object
 2   Sample          10 non-null     object
 3   Label           10 non-null     object
 4   Color           10 non-null     object
 5   Marker          9 non-null      object
 6   Size            9 non-null      float64
 7   Alpha           9 non-null      float64
 8   pH              9 non-null      float64
 9   Ca              9 non-null      float64
 10  Mg              9 non-null      float64
 11  Na              9 non-null      float64
 12  K               8 non-null      float64
 13  HCO3            9 non-null      float64
 14  CO3             9 non-null      float64
 15  Cl              9 non-null      float64
 16  SO4             9 non-null      float64
 17  TDS             9 non-null      float64
dtypes: float64(12), object(6)
memory usage: 1.5+ KB

## Filtrar los datos de los análisis
Para entrar en el proceso de crear los gráficos hidroquímicos los primero qu hay qu hacer es crear una variable de tipo GWChemPlot con los datos que previamente hemos leido de un fichero.<br>
En este caso el nombre de la variable es gwp, pero podría ser cualquier otro.

In [7]:
gwp = GWChemPlot(df)
gwp.data

,Punto muestreo,Fecha muestreo,Sample,Label,Color,Marker,Size,Alpha,pH,Ca,Mg,Na,K,HCO3,CO3,Cl,SO4,TDS
0,PM1,15/01/2023,PM1-15/01/2023,C1,red,o,30.0,0.6,7.8,32.0,6.0,28.0,2.8,73.0,0.0,43.0,48.0,233.0
1,PM1,26/01/2023,PM1-26/01/2023,C1,red,o,30.0,0.6,7.1,134.0,21.0,39.0,6.4,275.0,0.0,96.0,100.0,673.0
2,PM2,15/01/2023,PM2-15/01/2023,C2,green,o,30.0,0.6,7.6,46.0,11.0,17.0,0.7,201.0,0.0,14.0,9.0,299.0
3,PM2,26/01/2023,PM2-26/01/2023,C2,green,o,30.0,0.6,7.5,54.0,11.0,16.0,2.4,207.0,0.0,18.0,10.0,377.0
4,PM3,15/01/2023,PM3-15/01/2023,C3,blue,o,30.0,0.6,7.7,50.0,11.0,25.0,2.8,244.0,0.0,18.0,9.0,360.0
5,PM3,26/01/2023,PM3-26/01/2023,C3,blue,o,30.0,0.6,7.4,50.0,22.0,25.0,0.5,305.0,0.0,11.0,9.0,424.0
8,PM5,15/01/2023,PM5-15/01/2023,C1,magenta,o,30.0,0.6,7.8,32.0,6.0,28.0,2.8,150.0,0.0,43.0,48.0,233.0
9,PM5,26/01/2023,PM5-26/01/2023,C1,magenta,o,30.0,0.6,7.1,250.0,21.0,39.0,6.4,275.0,0.0,180.0,12.0,673.0

Nótese que no se han cargado los análisis del punto de muestreo PM4 por no cumplir los requisitos que se han comentantado previamente.<br>
### Errores de balance iónico (cbe, charge balance error) 
Una vez inspeccionados los datos filtrados, se procede a continuación a realizar el balance iónico y ver el error.<br>
El resultado del error del balance iónico se ejecuta en la instrucción a continuación; el resultado se guarda en la variable er_cbe y se muestran los resultados obtenidos

In [8]:
er_cb = gwp.cbe()
er_cb

,Sample,HCO3,CO3,Cl,SO4,Ca,Mg,Na,K,cbe
0,PM1-15/01/2023,1.196392,0.0,1.212873,0.999348,1.596886,0.493726,1.217933,0.071614,-0.419140
1,PM1-26/01/2023,4.506955,0.0,2.707810,2.081976,6.686960,1.728039,1.696407,0.163690,4.998790
2,PM2-15/01/2023,3.294175,0.0,0.394889,0.187378,2.295524,0.905164,0.739459,0.017904,1.041659
3,PM2-26/01/2023,3.392508,0.0,0.507714,0.208198,2.694745,0.905164,0.695962,0.061384,2.939329
4,PM3-15/01/2023,3.998899,0.0,0.507714,0.187378,2.495134,0.905164,1.087440,0.071614,-1.455023
5,PM3-26/01/2023,4.998623,0.0,0.310270,0.187378,2.495134,1.810327,1.087440,0.012788,-0.830869
8,PM5-15/01/2023,2.458339,0.0,1.212873,0.999348,1.596886,0.493726,1.217933,0.071614,-16.028404
9,PM5-26/01/2023,4.506955,0.0,5.077144,0.249837,12.475672,1.728039,1.696407,0.163690,24.055653

### Opcional. Grabar er_cb en un fichero
El resultado obtenido se puede grabar en un fichero.<br>
A continuación se incluye la instrucción opcional de grabar el resultado en una hoja Excel

In [13]:
"""
Imaginemos que quiero no considerar los análisis 
"""
(er_cb['cbe'] >= -10) & (er_cb['cbe'] <= 10)

0     True
1     True
2     True
3     True
4     True
5     True
8    False
9    False
Name: cbe, dtype: bool

In [27]:
gwp.data[mask]

,Punto muestreo,Fecha muestreo,Sample,Label,Color,Marker,Size,Alpha,pH,Ca,Mg,Na,K,HCO3,CO3,Cl,SO4,TDS
0,PM1,15/01/2023,PM1-15/01/2023,C1,red,o,30.0,0.6,7.8,32.0,6.0,28.0,2.8,73.0,0.0,43.0,48.0,233.0
2,PM2,15/01/2023,PM2-15/01/2023,C2,green,o,30.0,0.6,7.6,46.0,11.0,17.0,0.7,201.0,0.0,14.0,9.0,299.0
3,PM2,26/01/2023,PM2-26/01/2023,C2,green,o,30.0,0.6,7.5,54.0,11.0,16.0,2.4,207.0,0.0,18.0,10.0,377.0
4,PM3,15/01/2023,PM3-15/01/2023,C3,blue,o,30.0,0.6,7.7,50.0,11.0,25.0,2.8,244.0,0.0,18.0,9.0,360.0
5,PM3,26/01/2023,PM3-26/01/2023,C3,blue,o,30.0,0.6,7.4,50.0,22.0,25.0,0.5,305.0,0.0,11.0,9.0,424.0