In [1]:
import numpy as np
import pandas as pd

In [22]:
df = pd.DataFrame({'c0': [1., 2, np.nan],
                   'c1': [1, 2, 3],
                   'c2': ['2018-03-10', '2018-03-10', '2018-03-10'],
                   'c3': ['foo', 'foo', 'foo']})
print(df)
print('\n', df.dtypes)

    c0  c1          c2   c3
0  1.0   1  2018-03-10  foo
1  2.0   2  2018-03-10  foo
2  NaN   3  2018-03-10  foo

 c0    float64
c1      int64
c2     object
c3     object
dtype: object

In [18]:
[col1 for col1 in df.columns if df[col1].dtype not in ('float64', 'int64')]

['c2', 'c3']

In [23]:
df.columns[0]

'c0'

In [21]:
def move_to_first(l1, index):
    element = l1.pop(index)
    l1.insert(0, element)
    return l1

l1 = [10, 20, 30, 40]
move_to_first(l1, 2)  # Output: [30, 10, 20, 40]

[30, 10, 20, 40]

In [26]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
{'C0': ['a', 'b', 'c', 'd', 'e'],
 'C1': ['2003-01-03', '2003-01-05', '2003-01-05', '2003-01-02', '2003-01-02'],
 'C2': ['Acumulado', 2, 3, 4, 5],
 'C3': [5, 6, np.nan, 8, 9],
 'C4': [np.nan, 6, 7, 8, 'j9']}
)
print(df)
columns_to_check = ['C2', 'C3', 'C4']

df[df[columns_to_check].apply(lambda row: any(isinstance(x, str) for x in row), axis=1)]

  C0          C1         C2   C3   C4
0  a  2003-01-03  Acumulado  5.0  NaN
1  b  2003-01-05          2  6.0    6
2  c  2003-01-05          3  NaN    7
3  d  2003-01-02          4  8.0    8
4  e  2003-01-02          5  9.0   j9

  C0          C1         C2   C3   C4
0  a  2003-01-03  Acumulado  5.0  NaN
4  e  2003-01-02          5  9.0   j9